.start-screen {
    background: linear-gradient(to right, rgba(91, 72, 58, 1), rgba(38, 36, 37, 1));

    .start-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding-top: 60px;

        .start-content-container {
            display: flex;
            max-width: 460px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 42px;

            .h1-home {
                max-width: 310px;
            }
        }

        .start-screen-puppy {
            max-width: 698px;
            max-height: 728px;
        }
    }
}

.about-container {
    background: #ffffff;
    @extend %section-padding;
    gap: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

    .about-pets {
        max-width: 300px;
        max-height: 408px;
    }

    .about-content-container {
        display: flex;
        max-width: 430px;
        max-height: 380px;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        gap: 25px;
        flex-shrink: 0;

        .h2-about {
            max-width: 370px;
        }

        .paragraph-l {
            color: var(--color-dark-xl, #4C4C4C);
        }
    }
}

.pets {
    background: var(--color-light-l, #F6F6F6);

    .pets-contaier {
        @extend %section-padding;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;

        .h2-container {
            max-width: 400px;
            text-align: center;
        }

        .slider-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 53px;
            max-height: 435px;

            .slider-animation {
                display: flex;
                gap: 90px;
                max-width: 990px;
                overflow: hidden;

                .slider-item-container {
                    display: flex;
                    max-width: 270px;
                    max-height: 435px;
                    padding-bottom: 30px;
                    flex-direction: column;
                    align-items: center;
                    gap: 30px;
                    flex-shrink: 0;
                    border-radius: 9px;
                    background: var(--color-light-s, #FAFAFA);

                    .img-slider {
                        width: 270px;
                        height: 270px;
                        flex-shrink: 0;
                    }
                }
            }
        }
    }
}

.help {
    background: #ffffff;
    @extend %section-padding;

    .help-container {
        @extend %center;
        max-width: 1200px;
        max-height: 431px;
        padding: 0px 85px;
        flex-direction: column;
        justify-content: center;

        gap: 60px;
        flex-shrink: 0;

        .h2-container {
            max-width: 308px;
            text-align: center;
        }

        .help-list {
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            max-width: 1200px;
            gap: 120px;
            flex-wrap: wrap;

            .item-help {
                @extend %center;
                justify-content: center;
                flex-direction: column;
                gap: 30px;
            }
        }
    }

}

.donation {
    background: var(--color-light-l, #F6F6F6);
    @extend %center;
    padding: 80px 182px 100px 183px;
    justify-content: center;



    .donation-container {
        @extend %center;
        gap: 30px;

        .donation-dog {
            max-width: 505px;
            max-height: 261px;
            flex-shrink: 0;
        }

        .donation-content {
            display: flex;
            max-width: 380px;
            max-height: 282px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 20px;
            flex-shrink: 0;

            .h2-container {
                max-width: 300px;
            }

            .donation-card {
                gap: 15px;
                display: flex;
                padding: 10px 15px;
                border-radius: 9px;
                background: var(--color-primary, #F1CDB3);
            }
        }
    }
}