footer {
    background: linear-gradient(to right, rgba(81, 61, 47, 1), rgba(26, 26, 28, 1));

}

.footer-container {
    display: flex;
    padding: 40px 40px 0px 40px;
    gap: 160px;

    .footer-col-cont {
        display: flex;
        width: 278px;
        padding-right: 0px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;

        .not-footer {
            display: flex;
            align-items: center;
            gap: 20px;

            .a-img {
                max-width: 40px;
                max-height: 32px;
                flex-shrink: 0;
            }
        }
    }

    .footer-col-loc {
        display: flex;
        width: 302px;
        padding-right: 0px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;

        .not-footer {
            display: flex;
            align-items: center;
            gap: 20px;

            .a-img {
                max-width: 22px;
                max-height: 32px;
                flex-shrink: 0;
            }
        }


    }


}